@charset utf-8;

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0.7%;
    font-size: 30px;
    overflow: visible !important;
    white-space: normal !important;
    font-family: PT Sans, sans-serif;
}

[data-role="controlgroup"] img {
	height:100px;
        width:128px; 
}

.preferredLocation {
    float: left;
    margin-left: 10px;
    color: #ffffff;
    height: 40px;
    font-size: 20px;

}
.preferredActivity {
    float: right;
    margin-right: 10px;
    color: #ffffff;
    height: 40px;
    font-size: 20px;
}

.ui-bar-a {
    font-size: 24px;
}

[role="main"] {
    background-image: url("../images/piclarge.jpg");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    
}


fieldset label {
    height:50px;
}

.ui-checkbox label {
    width:70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

input#addButton {
    height:200px;
    width:424px;
}

input#moveOnButton{
    margin-top: 5px;
    height:190px;
    width: 424px;
}

input#confirmButton {
    margin-top: 5px;
    height:190px;
    width:424px;
}

fieldset .ui-grid-b {
    height:424px;
}

h4#bioText {
    font-size: 30px;
    width:900px;
    font-family: PT Sans;
}

p#location.preferredLocation {
    font-size: 20px;
    height:30px;
    
}

#userName {
    color:#cc0000;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: PT Sans, sans-serif;
    font-size: 40px;
    text-shadow: none;
    margin-left:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

fieldset.ui-grid-b {
    height:200px;
}

.ui-panel {
    width: 400px !important;
}

#myTable, #invites, #login, #logout, #home {
    background-color: #fff;
    font-family: PT Sans;
    font-size: 25px;
}

.space {
    height:550px;
}

html{
    background:url('backgroundimage.jpg') no-repeat center center;
    min-height:100%;
    min-width:100%;
    background-size:cover;
}

body{

    min-height:100%;/*hack for some mobile browsers */
    min-width:100%;
}