@charset utf-8;

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0.7%;
    font-size: 22px;
    overflow: visible !important;
    white-space: normal !important;
}

[data-role="controlgroup"] img {
	height:100px;
        width:128px; 
}

.preferredLocation {
    float: left;
    margin-left: 10px;
    color: #ffffff;
    height: 40px;
    font-size: 20px;

}
.preferredActivity {
    float: right;
    margin-right: 10px;
    color: #ffffff;
    height: 40px;
    font-size: 20px;
}

.ui-bar-a {
    font-size: 24px;
}

[role="main"] {
    background-image: url("../images/piclarge.jpg");
    background-size: cover;
    background-position: center;

}

fieldset label {
    height:50px;
}

.ui-checkbox label {
    width:70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

input#addButton, input#moveOnButton, input#confirmButton{
    height:200px;
    width:424px;
}

fieldset .ui-grid-b {
    height:424px;
}

h4#bioText {
    font-size: 17px;
}

p#location.preferredLocation {
    font-size: 20px;
    height:30px;
    
}