/* CSS Document */

/**
*Table Tribes App


*@version 0.1 (2014/09/07)
*/

.activitypanel {
    padding: 0px !important;
    background-color: #fff;
}
.ui-header-notificationNo {
    font-size: 17px; 
    float:right; 
    color:#ff3300; 
    height: 30px;
    width: 30px;
}

.ui-leftNavButton {
    background-image: url("../images/LeftNavButton.png");
    background-color: #fff;
    height: 24px;
    width: 28px;
    
}

.ui-rightNavButton {
    background-image: url("../images/RightNavButton.png");
    height: 30px;
    width: 32px;
    background-color: #fff;
   
    
}

[data-role= "header"] h3{
//	color: #ffffff;
	text-shadow: none;
	font-weight: bold;
	font-size: 15px;
}

[data-role="page"] {
    background-color: #fff;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: 20px;
    overflow: visible !important;
    white-space: normal !important;
    font-family: Helvetica;
}


#header {
	background: #ffffff !important;
}

#header a {
	  border: 0px;
    border-color: transparent;
    text-transform: none;
    text-shadow: none;
}

h4 {
	color: #cc0000;
}


/* style for the custom icons*/

.ui-icon-mygear:after {
	background-image: url("../images/gear.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-dot:after {
	background-image: url("../images/dot.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}
.ui-icon-red-dot:after {
	background-image: url("../images/red-dot.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-red-ring-dot:after {
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-bell:after {
	background-image: url("../images/bell.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-profile:after {
	background-image: url("../images/profile.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-logoicon:after {
	background-image: url("../images/logoicon.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-imageicon:after {
	background-image: url("../images/imageicon.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-logouticon:after {
	background-image: url("../images/logouticon.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}
.ui-icon-mytables:after {
	background-image: url("../images/tables.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}


/* style for the action buttons */

.findpplBtn {
	
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	display:inline-block;
	font-family: Helvetica;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:230px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	color: #ffffff;

}

.registerBtn, .signinBtn {
-moz-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	box-shadow:inset 0px 1px 0px 0px #c62d1f;
	background-color:#c62d1f;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #d02718;
	display:inline-block;
	font-family: PT Sans Narrow;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	color: #ffffff;
}

.findpplBtn:hover, .registerBtn:hover, .signinBtn:hover {
	background-color:#d33021;
}

.findpplBtn:active, .registerBtn:active, .signinBtn:active {
	position:relative;
	top:1px;
}

.ui-listview .ui-li-static {
	padding: 0em;
}

/* style for the coffee/drinks/dine panel */
.ui-controlgroup-controls a {
	padding-right: 15px;
	padding-left: 15px;
}

/* style for the dropdown filter items */
[data-role="listview"] .time li a:hover {
	background-color: #88ccc1;
	color: #ffffff;
        font-family: PT Sans Narrow;
        font-size: 17px;
        text-transform: uppercase;
        
}

[data-role="listview"] .place li a:hover {
        color: #ff3300;
         font-family: Helvetica;
         font-size: 15px;
         text-transform: uppercase;
        
}

[data-role="listview"] .time li a {
    text-transform: uppercase;
    background-color: #999999;
    color: #ffffff;
    text-shadow: none;
   font-family: PT Sans Narrow;
    
}

[data-role="listview"] .place li a {
    text-transform: uppercase;
    color: #009999;
    text-shadow: none;
   font-family: Helvetica;
   font-size: 15px
}

.activitiesImages{
    cursor:pointer;
}

/* un-checked */
.ui-checkbox label.ui-checkbox-off {
    font-family: Helvetica;
   font-size: 15px;
   line-height: 20px;
   text-shadow: none;
   height:20px;
  
  
}

/* checked */
.ui-checkbox label.ui-checkbox-on {
  color: #ff3300 !important;
    font-family: Helvetica;
   font-size: 15px;
   text-shadow: none;
   line-height: 20px;
   height: 20px;
}


.panel0 .ui-collapsible-heading .ui-btn {
    background-color: #ff3300;
    color:#ffffff;
    font-family: Helvetica;
    border-color: #ff3300;
    text-shadow: none;
    text-align: center;
    font-size: 15px;
    
    
    
}

.panel1 .ui-collapsible-heading .ui-btn {
    background-color: #ffcc99;
    color:#ffffff;
    font-family: Helvetica;
    border-color: #ffcc99;
    text-shadow: none;
    text-align: center;
    font-size: 15px;
   
}

.ui-tags-text {
    font-size: 15px;
    font-family: Helvetica;
    text-align: center;
    font-weight: 100;
}

.time .ui-collapsible-heading .ui-btn {
    background-color: #88ccc1;
    color:#ffffff;
    font-family: PT Sans Narrow;
    border-color: #88ccc1;
    text-shadow: none;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
}

.place .ui-collapsible-heading .ui-btn {
    background-color: #009999;
    color:#ffffff;
    font-family: Helvetica;
    border-color: #009999;
    text-shadow: none;
    text-align: center;
    font-size: 15px;
}

.coffee, .drinks, .dine {
    height:65px;
    width:50px;
}
#myTable, #home, #login, #logout {
    background-color: #fff;
    font-family: PT Sans;
    text-transform: uppercase;
    margin-right: 5px;
}

a.activitiesImages.ui-btn {
	padding: 25px;
        border-color:#fff;
        margin-top: 0px;
        margin-bottom: 0px;
       
}

div.ui-page.ui-page-theme-a.ui-page-header-fixed.ui-page-active {
    padding-top: 50px !important;
}

img#LeftPanelProfileImage {
    height:200px;
    width:200px;
}

.ui-btn, label.ui-btn {
    font-weight: 400;
}
.panelimagesize {
    height:50px;
    /*width: 100%;*/
}

#beta {
    font-size: 25px;
    font-weight: 700;
    font-family: PT Sans;
    color:blue;
}

#welcomemsg {
    
font-style:italic; padding:15px;  line-height: 25px; text-align: center;color:#cc0000; font-family: Helvetica; font-size: 17px; font-weight:400;
}

#vision {
    font-style: italic; padding:15px; line-height: 25px; color:#cc0000; font-family: PT Sans; font-size: 15px; font-weight: 400; 
    
}
/* End of CSS document */