@charset utf-8;

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 34px;
    overflow: visible !important;
    white-space: normal !important;
   font-family: PT Sans, sans-serif;

}

.coffee, .drinks,.dine {
    height:230px;
    width:100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

a.activitiesImages.ui-btn {
	padding: 25px;
        margin-top: 70px;
       
         margin-bottom: 0px;
     
}

#beta {
    font-size: 40px;
    font-weight: 700;
    font-family: PT Sans;
    
}

#welcomemsg {
    
font-style:italic;
padding:20px;
line-height: 35px;
text-align: center;
color:#cc0000;
font-family: Helvetica;
font-size: 25px;
font-weight: 400;
}

#vision {
    font-style: italic;
    padding:20px;
    line-height: 35px;
   
    color:#cc0000;
    font-family: PT Sans;
    font-size: 23px;
    font-weight: 400;
    
}


