@charset utf-8;

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0.7%;
    font-size: 22px;
    overflow: visible !important;
    white-space: normal !important;
}

.findpplBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	box-shadow:inset 0px 1px 0px 0px #c62d1f;
	background-color:#c62d1f;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #d02718;
	display:inline-block;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:60px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	color: #ffffff;

}

.registerBtn, .signinBtn {
-moz-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	box-shadow:inset 0px 1px 0px 0px #c62d1f;
	background-color:#c62d1f;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #d02718;
	display:inline-block;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:180px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	color: #ffffff;
}

[data-role="controlgroup"] img {
	height:100px;
}
