@charset utf-8;

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 34px;
    overflow: visible !important;
    white-space: normal !important;
   font-family: PT Sans, sans-serif;
}

.findpplBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	box-shadow:inset 0px 1px 0px 0px #c62d1f;
	background-color:#c62d1f;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #d02718;
	display:inline-block;
	font-family: PT Sans Narrow;
	font-size:24px;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:60px;
	width:400px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	color: #ffffff;

}

.registerBtn, .signinBtn {
-moz-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c62d1f;
	box-shadow:inset 0px 1px 0px 0px #c62d1f;
	background-color:#c62d1f;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #d02718;
	display:inline-block;
	font-family: PT Sans Narrow;
	font-size:24px;
	font-weight:bold;
	font-style:normal;
	height:70px;
	line-height:70px;
	width:270px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	color: #ffffff;
}

.ui-input-text input, .ui-input-search input, textarea.ui-input-text {
    height: 80px;
}

[data-role="controlgroup"] img {
	width:180px;
}

.panel1 .ui-collapsible-heading .ui-btn {
    background-color: #333333;
    color:#ffffff;
    height:30px;
    font-size: 32px;
    font-family: PT Sans Narrow;
    
}

.time .ui-collapsible-heading .ui-btn {
    background-color: #ffbb00;
    color:#ffffff;
     height:30px;
     font-size: 32px;
    font-family: PT Sans Narrow;
}

.place .ui-collapsible-heading .ui-btn {
    background-color: #88ccc1;
    color:#ffffff;
     height:30px;
     font-size: 32px;
    font-family: PT Sans Narrow;
}
.ui-checkbox label {
    font-size: 30px;
    width:180px;
}

[data-role="listview"] .time li a {
	
        font-family: PT Sans Narrow;
        font-size: 28px;
}

[data-role="listview"] .place li a {
	 font-size: 28px;
         font-family: PT Sans Narrow;
}

.coffee, .drinks,.dine {
    height:260px;
    width:200px;
}

a.activitiesImages.ui-btn {
	padding: 70px;
}

input#address {
    font-size: 28px;
}

a#closerightPanel {
 margin-right:35px;
 margin-top:45px;
 height:30px;
 width:30px;
}

a#closeleftPanel {
 margin-left:35px;
 margin-top:45px;
 height:30px;
 width:30px;
}

.ui-checkbox.ui-mini {
    height:110px;
    
}

.ui-btn, label.ui-btn {
    font-weight: 400;
   
}

.ui-checkbox label.ui-checkbox-off {
  background: #333333 !important;
    font-family: Helvetica;
   font-size: 30px;
   text-shadow: none;
   height:60px;
  
}

/* checked */
.ui-checkbox label.ui-checkbox-on {
  background: #cc0000 !important;
    font-family: Helvetica;
   font-size: 30px;
   text-shadow: none;
   height:60px;
}

.ui-panel {
    width: 400px !important;
}

#myTable, #invites, #login, #logout {
    background-color: #fff;
    font-family: PT Sans;
    font-size: 25px;
}
