@charset utf-8;

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 34px;
    overflow: visible !important;
    white-space: normal !important;
    font-family: PT Sans Narrow;
}

div.ui-bar.ui-bar-a {
    height:300px;
}

div.ui-grid-b {
    height:300px;
    padding: 0px;
}

.pendimg {
  height:300px;
  width:300px;
}

.imgblock {
	height:300px;
        
}

.text {
font-size: 30px;
height: 300px;
font-family: PT Sans;
background-color: #eee;
text-shadow: none;
}

p {
    font-size: 30px;
}

.ui-grid-b{
    height:300px;
}

.ui-bar.ui-bar-a {
    height:300px;
}

.ui-bar.ui-bar-a text {
    height:300px;
   
}

p {
    font-size: 24px;
}

a.ui-link.ui-btn.ui-shadow.ui-corner-all {
    font-size: 15px;
    background-color: #eee;
    border: none;
}

div.ui-bar.ui-bar-a.text {
    margin-left: 14px;
    margin-top: 14px;
    font-size: 30px;
    text-shadow: none;
}

.ui-block-b{
    background-color: #eee;
}

.ui-grid-a {
    height: 40px;
    
}

.info {
    height: 60px;
   
}

.namebar {
text-align: center;
font-size: 24px;
text-transform: uppercase;
font-family: PT Sans;
line-height: 38px;

}

.float-left {
float:left;
width:33%;
font-size: 23px;
line-height: 38px;
font-family: PT Sans;
text-transform: uppercase;
}