/* CSS Document */

/**
*Table Tribes App


*@version 0.1 (2014/09/07)
*/

.ui-content {
    padding: 0px !important;
}


[data-role= "header"] h3{
	color: #ffffff;
	text-shadow: none;
	font-weight: bold;
	font-size: 15px;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 15px;
    overflow: visible !important;
    white-space: normal !important;
    font-family: PT Sans;
    
}


#header {
	background: #cc0000 !important;
}

#header a {
	  border: 0px;
    border-color: transparent;
    text-transform: none;
    text-shadow: none;
}

h4 {
	color: #cc0000;
}


/* style for the custom icons*/

.ui-icon-mygear:after {
	background-image: url("../images/gear.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;

}

.ui-icon-dot:after {
	background-image: url("../images/dot.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-bell:after {
	background-image: url("../images/bell.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-profile:after {
	background-image: url("../images/profile.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-logoicon:after {
	background-image: url("../images/logoicon.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-imageicon:after {
	background-image: url("../images/imageicon.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-logouticon:after {
	background-image: url("../images/logouticon.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-mytables:after {
	background-image: url("../images/tables.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}


div#pendingimg {
	width:96px;
	height:120px;
}

.ui-bar-a .ui-bar {
	padding: 0px;
	margin: 0px;
      
}

.ui-bar, .ui-body {
	padding:0em !important;
}

.ui-block-a, .ui-block-b, .ui-block-c {
    padding:0px;
}

.ui-grid-b {
	height:140px;
	padding: 0px;
}

.ui-listview>.ui-li-has-icon>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-icon {
    padding-left: 20px;
    border: none;
}

.ui-icon-mycheck:after {
    background-image: url("../images/mycheck.png");
    background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.float-left {
float:left;
width:33%;
font-size: 14px;
font-family: PT Sans;
text-transform: uppercase;
}

.namebar {
text-align: center;
font-size: 14px;
font-family: PT Sans;
text-transform: uppercase;
}

.text {
font-size: 20px;
height: 140px;
font-family: PT Sans;
background-color: #eee;
text-shadow: none;
}

.text p {
    margin-left: 4px;
}

.pendimg {
height: 140px;
width: 96px;
}

.ui-block-c, .ui-bar-a {
    background-color: #fff;
}

div.ui-bar.ui-bar-a.text {
    background-color: #eee;
    font-size: 20px;
}

.ui-content .ui-listview-inset, .ui-panel-inner, .ui-listview-inset {
    padding-top:10px;
   
}

#myTable, #invites, #login,#logout, #home {
    background-color: #fff;
    font-family: PT Sans;
    text-transform: uppercase;
    margin-right: 5px;
}

img#LeftPanelProfileImage {
    height:200px;
    width:200px;
}

.ui-grid-b{
    height:140px;
}

.ui-bar.ui-bar-a {
    height:140px;
}

.ui-bar.ui-bar-a text {
    height:140px;
   
}

p {
    font-size: 12px;
}

a.ui-link.ui-btn.ui-shadow.ui-corner-all {
    font-size: 9px;
    background-color: #eee;
    border: none;
}

div.ui-bar.ui-bar-a.text {
    margin-left: 4px;
    margin-top: 4px;
    font-size: 13px;
    text-shadow: none;
}

.ui-block-b{
    background-color: #eee;
}

.ui-grid-a {
    height: 20px;
}

.info {
    height: 30px;
}

#beta {
    font-size: 25px;
    font-weight: 700;
    font-family: PT Sans;
    color:blue;
}
/* End of CSS document */