@charset utf-8;

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 34px;
    overflow: visible !important;
    white-space: normal !important;
    font-family: PT Sans Narrow;
}

div.ui-bar.ui-bar-a {
    
}

div.ui-grid-b {
    height:300px;
    padding: 0px;
}

