/* CSS Document */

/**
*Table Tribes App


*@version 0.1 (2014/09/07)
*/

.ui-content {
    padding: 0px !important;
}


[data-role= "header"] h3{
	color: #ffffff;
	text-shadow: none;
	font-weight: bold;
	font-size: 15px;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 17px;
    overflow: visible !important;
    white-space: normal !important;
    font-family: PT Sans Narrow;
}


#header {
	background: #cc0000 !important;
}

#header a {
	  border: 0px;
    border-color: transparent;
    text-transform: none;
    text-shadow: none;
}

h4 {
	color: #cc0000;
}


/* style for the custom icons*/

.ui-icon-mygear:after {
	background-image: url("../images/gear.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;

}

.ui-icon-dot:after {
	background-image: url("../images/dot.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-bell:after {
	background-image: url("../images/bell.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-profile:after {
	background-image: url("../images/profile.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-logoicon:after {
	background-image: url("../images/logoicon.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-imageicon:after {
	background-image: url("../images/imageicon.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-logouticon:after {
	background-image: url("../images/logouticon.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

.ui-icon-mytables:after {
	background-image: url("../images/tables.png");
	background-color: transparent;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border: none;
    border-style: hidden;
    -webkit-box-shadow: none;
}

div#pendingimg {
	width:96px;
	height:140px;
        background-color: #eee;
}

.ui-bar-a .ui-bar {
	padding: 0px;
	margin: 0px;

}

.ui-bar, .ui-body {
	padding:0em !important;
}

.ui-block-a, .ui-block-b, .ui-block-c {
    padding:0px;
}

.ui-grid-b {
	height:150px;
	padding: 0px;
}

.pendimg {
  height:150px;
  width:96px;
  background-color: #eee;
}

.imgblock {
    height:150px;
}

.addbtn {
   
    height:150px;
    border: 1px dotted #cc0000;
}

.ui-bar-a {
     background-color: #fff;

}

addbtn img {
  
    height:150px;
    width:64px;
}


.text {
    font-size: 13px;
    height:150px;
     font-family: PT Sans;
     background-color: #eee;
     text-shadow:none;
}

.text p {
    margin-left: 4px;
}


.clickmore {
    font-size: 9px;
}

.infobar, .namebar {
    height:20px;
   
   
}

.namebar {
    text-align: center;
     font-size: 14px;
     line-height: 20px;
     text-transform: uppercase;
     font-family: PT Sans;
     text-shadow: none;
}

.infobar {
    font-size: 10px;
    text-transform: uppercase;
    font-family: PT Sans Narrow;
    line-height: 20px;
    text-shadow:none;
}

.float-left {
float:left;
width:33%;
font-size: 14px;
text-shadow: none;
font-family: PT Sans;
}

#myTable, #invites, #login,#logout, #home {
    background-color: #fff;
    font-family: PT Sans;
    text-transform: uppercase;
    margin-right: 5px;
}

.addimg, .rejectimg {
    height:50px;
    width:50px;
    padding-left:5px;
}

.ui-listview .ui-li-static {
    padding: 0px;
    border: none;
   
}

img#LeftPanelProfileImage {
    height:200px;
    width:200px;
}

p {
    font-family: Helvetica;
    font-weight: 400;
}

#beta {
    font-size: 25px;
    font-weight: 700;
    font-family: PT Sans;
    color:blue;
}

#welcomemsg {
    
font-style:italic; padding:15px;  line-height: 25px; text-align: center;color:#cc0000; font-family: Helvetica; font-size: 17px; font-weight:400;
}

#vision {
    font-style: italic; padding:15px; line-height: 25px; color:#cc0000; font-family: PT Sans; font-size: 15px; font-weight: 400; 
    
}
/* End of CSS document */